.lgn
.DS_Store
.idea
*.vcd
pyvenv.cfg
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
fpga/*/*.json
fpga/*/*.asc
fpga/*/*.bin